html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/less/edit.css')
  body
  .row
    h1 Edit your profile


    form#artistInfo(role='form', method='POST', action='/profile/edit', enctype='multipart/form-data')
      legend Artist Info
      .col-sm-4
        .form-group
          label Name
          input.form-control(name='name', placeholder='Steven')
        .form-group
          label Email
          input.form-control(name='email', placeholder='steven@nomail.com')
        .form-group
          label Address or Zipcode
          input.form-control(name='address', placeholder='472 Evergreen Terrace')
          input(type='hidden', name='lat')
          input(type='hidden', name='lng')
        button#submit Submit
      .col-sm-6
        .form-group
          label Bio
          textarea.form-control(name='bio', rows='3', placeholder='Your life story here pls')
        .form-group
          legend Instruments/Skills
          .col-sm-1
            &nbsp
          .col-sm-10
            label.check Drums
            input(type='checkbox', name='drums')
            label.check Guitar
            input(type='checkbox', name='guitar')
            label.check Bass
            input(type='checkbox', name='bass')
            label.check Vocals
            input(type='checkbox', name='vocals')
            label.check Piano
            input(type='checkbox', name='piano')
            label.check Violin
            input(type='checkbox', name='violin')
            label.check Cello
            input(type='checkbox', name='cello')
            label.check Clarinet
            input(type='checkbox', name='clarinet')
            label.check Cow Bell
            input(type='checkbox', name='cowbell')
            label.check Sax
            input(type='checkbox', name='sax')
            label.check Banjo
            input(type='checkbox', name='banjo')
            label.check Mandolin
            input(type='checkbox', name='mandolin')
            label.check Venue Manager
            input(type='checkbox', name='venueManager')
            label.check Agent
            input(type='checkbox', name='agent')

  script(src='/js/vendor/jquery-2.1.1.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ7f53mzZHfIF5Guqu3TrbhPNuaxsu6Fc&sensor=true')
  script(src='../js/source/updateProfile.js')
