body{
  padding-top: 70px;
}

#footer-background{
  display:block;
  position:fixed;
  margin-left:auto;
  margin-right:auto;
  bottom:0px;
  width:1170px;
  height:291px;
  background-image:url('/img/background-footer.jpg');
}
#username, #pw, #sign-in{
  margin:5px 5px 0 0;
}
