.artistPhoto{
  height: 24em;
  width: 24em;
  border-radius: 20px;
  border: 2px solid black;
}

h1{
  text-decoration: underline;
}

#userInfo{
  background-image:url('/img/black-pattern.png');
  padding-bottom: 10em;
}

#userInfo dd{
  color: white;
  size: 1.8em;
}

#name, #email, #location, #bio, #skills{
  color: blue;
  font-size: 2em;
}

#artistDiv{
  display: inline-block;
}
