extends ../shared/template

block content
  #search-container
    .container-fluid
      .row
        #left-col.col-md-6
          .row
            .col-md-12
              .search-bar
                h3 Step 1
                  small Select a location to search from
                button.search-controls.button.button-3d-highlight#geolocate Find Me!
                input.search-controls#zipcode(type='text' placeholder='...or search by zipcode')
                button.search-controls.button.button-3d-primary#geocode ZipCode
          .row
            .col-md-12
              h3 Step 2
                small  Set the range you would like to search
              #range-slider-container
                #range-slider
                span#range-output
                span   Miles
          .row
            .col-md-12(style='margin-bottom:15px')
              h3 Step 3
                small  Find other great artists and bands near you!
              form#skills
                .col-md-9
                  input(type='checkbox', name='guitar')
                  span.check Guitar
                  input(type='checkbox', name='drums')
                  span.check Drums
                  input(type='checkbox', name='bass')
                  span.check Bass
                  input(type='checkbox', name='vocals')
                  span.check Vocals
                  input(type='checkbox', name='piano')
                  span.check Piano
                  input(type='checkbox', name='violin')
                  span.check Violin
                  input(type='checkbox', name='cello')
                  span.check Cello
                  input(type='checkbox', name='clarinet')
                  span.check Clarinet
                  input(type='checkbox', name='cowbell')
                  span.check Cow Bell
                  input(type='checkbox', name='sax')
                  span.check Sax
                  input(type='checkbox', name='banjo')
                  span.check Banjo
                  input(type='checkbox', name='mandolin')
                  span.check Mandolin
                  input(type='checkbox', name='venueManager')
                  span.check Venue Manager
                  input(type='checkbox', name='agent')
                  span.check Agent
                .col-md-2
                  button.button.button-3d-action#search Search
          .row
            .col-md-12
              #map
        #right-col.col-md-6
          #cards
