doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/jquery.nouislider.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/source/fblogin.js')
    link(href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/card.css', rel='stylesheet')

  body
    #fb-root
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand.timbreFont(href='/') Timbre
        ul.nav.navbar-nav
          li
            a(href='/search') Search
          if artist
            li
              a(href='/artists/'+artist._id) Profile
          li
            a(href='/chat') Chatting
        ul#navbar-right.nav.navbar-nav.navbar-right
          li
            a.navbar-brand#artist-email= artist ? artist.email : ''
          li.fb-login-button.hidden
            fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")
          li
            form#authentication
              input.hidden#email(type='text', name='email', placeholder='Email')
              input.hidden#password(type='password', name='password', placeholder='Password')
              button.button.button-action.hidden#register Register
              button.button.button-primary.hidden#login Login
              button.button.button-caution.hidden#logout Logout
    block content

    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/jquery.nouislider.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD4sNttD_i7PtUfNbANpfyCNt2FRMWzkHY&sensor=true')
    script(src='/js/source/maps.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/source/authenticate.js')
    script(src='/js/source/main.js')
    block scripts
