doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/less/app.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand Music Connection
        ul.nav.navbar-nav
          li
            a Link1
          li
            a Link2
        ul.nav.navbar-nav.navbar-right
          li
            input#username(placeholder='Username')
          li
            input#pw(placeholder='Password' type='password')
          li
            button#sign-in.btn.btn-success Sign In
    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/source/main.js')
