doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/source/fblogin.js')
  body
    h1#artist-email= artist ? artist.email : ''

    fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")
    button#fblogout Logout of Facebook

    form#authentication
      input#email(type='text', name='email')
      input#password(type='password', name='password')
      button#register Register
      button#login Login
      button#logout Logout

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/source/authenticate.js')
    script(src='/js/source/main.js')
