extends ../shared/template

block content
  #myCarousel.carousel.slide
    ol.carousel-indicators
      li.active(data-target='#myCarousel' data-slide-to='0')
      li(data-target='#myCarousel' data-slide-to='1')
      li(data-target='#myCarousel' data-slide-to='2')
    .carousel-inner
      .item.active
        #guitar
          .row
            .col-sm-4
              &nbsp
            .col-sm-4.text-center
              #step1
                h1 Get discovered!
                h3 Craft your profile and let other artists know how much you rock

        .carousel-caption
          h3 Create Your Artist Profile
      .item
        #stage
          .row
            .col-sm-4
              &nbsp
            .col-sm-4.text-center
              #step2
                h1 Get connected!
                h3 Interact with other artists through integrated chat support to make your band
        .carousel-caption
          h3 Create or Manage Your Band
      .item
        #nashville
          .row
            .col-sm-4
              &nbsp
            .col-sm-4.text-center
              #step2
                h1 Play!
                h3 Rock out with your web-crafted dream team of artists
        .carousel-caption
          h3 Make Your Band Heard
    a.carousel-control.left(href='#myCarousel' data-slide='prev')
      span.icon-prev
    a.carousel-control.right(href='#myCarousel' data-slide='next')
      span.icon-next
